* {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

/* Add a black background color to the top navigation */
.topnav {
    background-color: #EAAE00;
    overflow: hidden;
}


div.card {
    float: left;
    padding: 15px;
}
div.logo{
    width: 70%;
}
div.navbar{
    width: 25%;
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: rgb(230, 195, 81);
    color: black;
    border-radius: 5px;
}
/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

/* Header... */

/* Section 1 */
.row1 {
    background-color: #FFC400;
    overflow: hidden;
    padding: 40px;
}

div.card1 {

    height: 300px;
    float: left;
    display: block;
    width: 50%;
    color: white;
}

div.image1 {
    display: flex;
    justify-content: center;
    align-items: center;
}


div.image1 img {
    max-width: 100%;
    height: auto;
    background: contain;
}

.card1::after,
.button1::after {
    display: table;
    clear: both;
    content: " ";
}

button.button1 {
    display: block;
    float: left;
    margin-right: 20px;
}

button.contact-us {
    background-color: #00bec9;
    padding: 15px;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

button.service {
    background-color: transparent;
    padding: 15px;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

button.contact-us:hover {
    background-color: rgb(14, 50, 38);
}

button.service:hover {
    border: 2px solid red;
}

.row2 {
    background-color: transparent;
    overflow: hidden;
    padding: 40px;
    z-index: -2;
}


div.card2 {
    height: 300px;
    float: left;
    display: block;
    width: 50%;
    color: black;
}

button.service1 {
    background-color: #e6c651;
    padding: 15px;
    border: 2px solid white;
    color: white;
    font-size: 16px;
    border-radius: 10px;
}

button.service1:hover {
    background-color: #5c7606;
}

div.part2 {
    position: relative;
}

div.box {
    position: absolute;
    overflow: hidden;
    background-color: #d8bd58;
    padding: 60px;
    left: 20%;
    bottom: 0px;
    z-index: -1;
}

.video {
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    z-index: 1;
}

div.card2::after {
    display: table;
    clear: both;
    content: " ";
}


/* Section 3 */
div.row3 {
    background-color: #eec11e;
    overflow: hidden;
    color: white;
}

div.part3 {
    display: inline-block;
    height: 150px;
    padding: 50px;
    text-align: center;
    width: 100%;
}

div.board,
div.board5 {
    float: left;
    display: block;
    width: 33.33%;
    text-align: center;
    padding: 60px;
}

p.veterinarian {
    font-size: 22px;
    font-weight: bolder;
}

div.board img {
    border: 2px solid rgb(224, 218, 218);
    padding: 5px;
}

div.board img:hover {
    opacity: 0.9;
    border: 2px solid rgb(143, 139, 139);
}

.card3 {
    padding: 0px 100px;
}



/* Section 4 */

div.box4 {
    position: absolute;
    overflow: hidden;
    background-color: #d8bd58;
    padding: 60px;
    right: 20%;
    bottom: 0px;
    z-index: -1;
}

/* Section 5 */
div.row5 {
    background-color: #e3e3e2;
    overflow: hidden;
    color: black;
}

div.board5 img {
    border: 2px solid rgb(98, 98, 98);
    padding: 5px;
}

div.social-icon i {
    background-color: #eec11e;
    padding: 10px;
    border-radius: 50%;
    margin: 3px;
    font-size: 18px;
    color: white;
}

div.social-icon i:hover {
    background-color: black;
}

/* Section 6 */
.row6{
    display: grid;
    grid-template-columns: auto auto auto;
    background-image: linear-gradient(rgba(0, 0, 0, 0.509),rgba(0, 0, 0, 0.648)),url("https://placekitten.com/1200/800");
    background-repeat: no-repeat;
    background-size: cover;
    color: white;
    align-items: center;
    justify-items: center;
    background-position: center;
    height: 40vh;
    width: 100%;
    text-align: center;
    font-size: 3vh;
    font-weight: bolder;
}

/* Section 7 */
div.row7 {
    background-color: #e3e3e2;
    height: 700px;
    overflow: hidden;
    color: black;

}

div.header7 {
    text-align: center;
    padding-top: 50px;
}

div.box7 {
    float: left;
    display: block;
    width: 33.33%;
    box-shadow: 2px aliceblue;
    padding: 40px 72px;
}

div.box7::after {
    display: table;
    clear: both;
    content: " ";
}

div.image7,
div.text7 {
    /* border: 1px solid rgb(116, 116, 116); */
    background-image: cover;
    width: 100%;
    background-color: white;
    box-shadow: rgba(97, 96, 96, 0.2) 2px 4px 2px 5px;
}

div.box7 img {
    width: 100%;
    height: auto;
}

div.text7 {
    padding: 0px 5px 10px 0px;
    line-height: 1.5;
    padding-left: 6px;
}

div.text7 p.post-name {
    font-size: 18px;
    font-weight: bold;
}

div.text7 p.date {
    font-size: 12px;
    font-weight: bold;
    color: rgb(3, 194, 194);
}

div.text7 a {
    font-size: 16px;
    font-weight: bold;
    color: #00bec9;
    text-decoration: none;
}

div.text7 a:hover {
    color: #d4a703;
}

/* Footer..... */
div.footer {
    background-color: #343434;
    height: auto;
    overflow: hidden;
    color: white;
    padding: 0px 50px 0px;
    line-height: 2;

}

div.card7 {
    text-align: center;
    padding-top: 50px;
}

div.card8 {
    float: left;
    display: block;
    width: 33.33%;
    box-shadow: 2px aliceblue;
    padding: 40px 72px;
}

div.card8 a {
    text-decoration: none;
    color: white;
}

.message {
    background-color: #00bec9;
    padding: 15px;
}

div.card8 button {
    padding: 15px;
    background-color: #d4a703;
}

div.social-icon1 i {
    background-color: white;
    padding: 10px;
    border-radius: 50%;
    margin: 3px;
    font-size: 18px;
    color: black;
}

div.social-icon1 i:hover {
    background-color: #d4a703;
    color: whi;
}

div.card8::after {
    display: table;
    clear: both;
    content: " ";
}

div.copyright {
    width: 100%;
    border: 1px solid white;
    text-align: center;
    overflow: hidden;
}
